.contact .details{
    padding: 50px 50px;
}

.contact .details .icon{
    font-size: 50px;
    line-height: 50px;
    color: var(--black-color);
}

.contact .more-details{
    margin-top: 50px;
    padding-bottom: 10px;
}

.contact .more-details h1{
    font-size: 22px !important;
    font-weight: 900;
    line-height: 1.1em;
    color: var(--black-color);
    text-transform: uppercase;
}

.contact .more-details p{
    font-size: 15px;
    margin-top: .3em;
    color: var(--black-color);
}

@media screen and (max-width: 768px) {
    .contact .more-details h1{
        font-size: 17.6px;
    }
    .map{
        min-height: 530px;
    }
}

.bg-address{
    background-color: #bbb;
}

.bg-phone{
    background-color: #eee;
}

